* {
    font-family: 'Manrope', sans-serif;
}

body {
    margin: 0;
    max-width: 1280px;
}


.new-visit {
    height: 40px;
    margin: 10px 0 10px 10px;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: black;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    border: none;
}

.new-visit:hover {
    background: #007DF2;
    color: white;
}

.modal-container {
    gap: 10px;
    margin-left: 10px;
}

.doctors {
    height: 30px;
    color: #777;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.purpose {
    height: 30px;
    color: #777;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.description {
    height: 30px;
    color: #777;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.name-input {
    height: 30px;
    color: #777;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.pressure {
    height: 30px;
    color: #777;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.bmi {
    height: 30px;
    color: #777;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.heart-diseases {
    height: 30px;
    color: #777;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.age-input {
    height: 30px;
    color: #777;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.last-visit { 
    height: 30px;
    color: #777;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.urgency {
    height: 30px;
    color: #777;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.create-btn {
    height: 35px;
    width: 130px;
    color: black;
    font-size: 15px;
    line-height: 19px;
    cursor: pointer;
    transition: background-color 0.5s;
    border: none;
    border-radius: 8px;
}

.create-btn:hover {
    background-color: #007DF2;
    color: white;
}

.close-btn {
    height: 35px;
    width: 130px;
    color: black;
    font-size: 15px;
    line-height: 19px;
    cursor: pointer;
    transition: background-color 0.5s;
    border: none;
    border-radius: 8px;
}

.close-btn:hover {
    background-color: #444444;
    color: white;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 400px;
}

.visit-name {
    font-size: x-large;
    font-weight: bold;
    margin: 0;
}
.visit-doctor {
    font-weight: 600;
    font-size: large;
}
.visit-purpose {
    font-weight: 300;
}
.visit-description {
    font-weight: 300;
}
.visit-urgency {
    font-weight: 300;
}
.visit-info {
    font-weight: 300;
}
.visit-pressure {
    font-weight: 300;
}
.visit-bmi {
    font-weight: 300;
}
.visit-heartdiseases {
    font-weight: 300;
}
.visit-age {
    font-weight: 300;
}
.visit-last {
    font-weight: 300;
}